﻿extends layout

block content
    // Material textarea
    .formPalavras
      h3
        | Digite as palavras abaixo separadas por virgula simples 
      p
        | Ex.: 'palavra, PlAvra, Jonh'
      p
        | Números caracteres especiais e acentos não são permitidos
      textarea#dadosParaEnviar(type='text', rows='8', style='margin: 0px; width: 536px; height: 112px;')
      p
      button#btnEnviar Enviar dados
    .semDados(style='display:none')
      h5
       | Nenhum dado para ser enviado  
    .listaPalavras




